<div class="backgroundexp"></div>
<div class="foreground" id="experience-content">
	<!-- Content will be dynamically loaded -->
</div>

<script>
// Load experience content immediately when this component is loaded
(async function() {
    const contentContainer = document.getElementById('experience-content');
    if (contentContainer) {
        const content = await loadExperienceContent();
        contentContainer.innerHTML = content;
    }
})();

async function loadExperienceContent() {
    const sections = [
        {
            type: 'two',
            config: {
                header: 'Software Developer - ADP',
                classModifier: 'withheader',
                text: '<p>Ian got to work with a lot of different programming languages and technologies while working at ADP, including data processing using Python, React+Redux web development using Javascript, Linux bash scripting, and SuSE server management. Additionally he got the chance to solve issues inside the code of ADP\'s Workforce Now product, which is the first time his contributions at work will directly affect users. He also got to work with a number of incredible people who have helped him develop professionally and made the term fun and enjoyable.</p>',
                image: {
                    src: 'images/ADP.jpg',
                    width: '20%',
                    height: '20%'
                }
            }
        },
        {
            type: 'one',
            config: {
                header: 'Software Analyst - Thales Canada',
                classModifier: 'withheader',
                text: '<p>While working to automate the analysis of data log files for train control software, Ian had the opportunity to develop his professionalism to meet the high standards of a large company handling safety-critical systems. Ian also became highly adept at working in VBA, developing an Excel system to implement standardized test procedures, data importation, and automated data analysis algorithms.</p>',
                image: {
                    src: 'images/Complex Markup.png',
                    width: '25%',
                    height: '20%'
                }
            }
        },
        {
            type: 'two',
            config: {
                header: 'Point Grey Winter Prom',
                classModifier: 'withheader',
                text: '<p>This 6-hour event was organized entirely by the graduating class of 2015, including raffles, dinner, professional photography, a a full dance. Ian was the stage manager for the event, handling scheduling, sound, as well as emceeing the event.</p>',
                image: {
                    src: 'images/Prom Setup.jpg',
                    width: '25%',
                    height: '20%'
                }
            }
        },
        {
            type: 'one',
            config: {
                header: 'Point Grey Mini Orientation Dance',
                classModifier: 'withheader',
                text: '<p>Located in an outdoor gym on an island, this event allowed Ian and his friend Liam White to fully use the $2000 sound system they were entrusted to purchase for the school. The blacklight dance lasted for 3 hours, and </p>',
                image: {
                    src: 'images/Mini Orientation.jpg',
                    width: '25%',
                    height: '20%'
                }
            }
        }
    ];
    
    let html = '';
    for (const section of sections) {
        html += await loadContentBox(section.type, section.config);
    }
    
    return html;
}
</script>