<div class="headbar">
	<ul class="desktop-nav">
		<li><a href="/"><h3>Ian Hill</h3></a></li>
		<li></li>
		<li><a href="#">Biography</a></li>
		<li><a href="#">Experience</a></li>
		<li><a href="#">Interests</a></li>
		<li><a href="#">Music</a></li>
	</ul>
	<div class="mobile-nav">
		<a href="/"><h3>Ian Hill</h3></a>
		<button class="mobile-menu-toggle" onclick="toggleMobileMenu()">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="mobile-dropdown" id="mobile-dropdown">
			<a href="#">Biography</a>
			<a href="#">Experience</a>
			<a href="#">Interests</a>
			<a href="#">Music</a>
		</div>
	</div>
</div>