<div class="backgroundpro"></div>
<div class="foreground" id="interests-content">
	<!-- Content will be dynamically loaded -->
</div>

<script>
// Load interests content immediately when this component is loaded
(async function() {
    const contentContainer = document.getElementById('interests-content');
    if (contentContainer) {
        const content = await loadInterestsContent();
        contentContainer.innerHTML = content;
    }
})();

async function loadInterestsContent() {
    const sections = [
        {
            type: 'one',
            config: {
                text: '<p>Beyond university, Ian is heavily involved in a number of interesting projects and activities. He is the president of the Waterloo Engineering Society, an organization which manages the social and academic well-being of roughly 8000 engineering students. He is also involved in Waterloo\'s Aerial Robotics Group (WARG), working on the mechanical design and integration of unmanned aerial vehicles for search and rescue. He is also a certified Advanced Open Water scuba diver.</p>',
                image: {
                    src: 'images/Scuba Diving.jpg',
                    width: '15%',
                    height: '15%'
                }
            }
        },
        {
            type: 'two',
            config: {
                text: '<p>This website was developed in HTML and CSS by Ian as a personal project during his winter 2016 work term. The experience has helped him learn about design philosophy and colour scheming, and two new programming languages. Once 2A is completed he hopes to update the site to use proper web development techniques, potentially using nodejs with react.</p>',
                image: {
                    src: 'images/Website Code.png',
                    width: '27%',
                    height: '20%'
                }
            }
        },
        {
            type: 'one',
            config: {
                text: '<p>Some of the hobbies Ian finds time for between university assignments include Overwatch, self-learning the piano, and Subnautica.</p>',
                image: {
                    src: 'images/Minecraft Cathedral.png',
                    width: '20%',
                    height: '20%'
                }
            }
        }
    ];
    
    let html = '';
    for (const section of sections) {
        html += await loadContentBox(section.type, section.config);
    }
    
    return html;
}
</script>